{% extends 'contrib/base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/delivery.css' %}">
{% endblock %}

{% block page_sidebar %}{% endblock %}

{% block page_body %}
    <div class="delivery-content">
        <h2 class="delivery-content-title">
            Оплата и доставка
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum sed mauris non sodales. Maecenas egestas nulla magna, quis porta felis euismod at. Aliquam eu aliquet risus, eget ultricies nulla. Fusce vestibulum dui sed mauris egestas, ac condimentum erat feugiat. Duis fringilla augue sed metus rhoncus accumsan. Maecenas sed viverra tellus. Donec molestie sit amet tellus id viverra. Etiam in diam ut odio consectetur pellentesque ac in ipsum. Phasellus est sapien, vehicula vitae pretium vel, accumsan sed ex. Aenean eget lacus lacus. Phasellus venenatis mauris sed ligula venenatis, vitae tempus dui malesuada. Vivamus bibendum volutpat quam, ac tristique velit lacinia ac. Aenean ac magna porttitor, aliquam ligula at, ullamcorper diam. Praesent et pretium magna.
            Duis at sollicitudin dui. Sed posuere, turpis vel porttitor commodo, turpis nisl efficitur purus, id interdum augue massa sed turpis. Nulla facilisi. Aenean ipsum ipsum, malesuada non orci et, laoreet porttitor elit. Sed bibendum ultrices nunc ut malesuada. Praesent eu dignissim nisi, non dapibus erat. Donec quis mollis ante, ac cursus arcu. Sed et aliquet erat. Sed efficitur nunc sed varius convallis. Ut ac vulputate turpis. Vestibulum gravida placerat lacus, a aliquet nibh. Fusce porta odio ut nunc vestibulum, ut commodo augue tincidunt. Maecenas interdum sodales laoreet. Cras sit amet hendrerit augue. Curabitur tempor, sapien id tincidunt auctor, nibh neque porttitor lorem, sed posuere nunc mauris sed lectus.
            Pellentesque ac turpis quis magna scelerisque efficitur. Nam ut condimentum mauris, in faucibus odio. Suspendisse convallis sed enim sit amet vehicula. Sed est elit, eleifend in sagittis quis, ullamcorper sed justo. Donec sed tortor viverra enim egestas aliquam non a lorem. Nulla ultrices accumsan enim. Sed quis eleifend enim. Vestibulum at mauris elementum, interdum turpis sit amet, tristique nulla. Proin vel suscipit ipsum. Nullam ac felis nec sapien vulputate venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec tristique tortor in pellentesque suscipit. Vestibulum erat magna, fringilla et commodo in, efficitur et dui. Pellentesque nec mi ullamcorper, consectetur lectus a, mollis nulla. In accumsan consequat neque eget rhoncus.
            Praesent vehicula magna et lobortis hendrerit. Proin id varius orci, eu ullamcorper sem. Mauris interdum augue non lorem gravida, vitae ultricies diam venenatis. Morbi non sagittis enim, nec consequat turpis. Aenean sit amet augue et ante auctor luctus. Suspendisse porta at tortor vitae fringilla. Phasellus nunc nisl, fermentum dignissim nunc non, sagittis rutrum risus. Nunc erat ex, efficitur eu scelerisque ut, vestibulum ac orci.
            Donec fermentum mattis tortor eu scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In enim arcu, maximus eget rutrum ac, convallis at sem. Quisque volutpat pharetra lorem at pulvinar. Integer sem neque, gravida quis arcu et, posuere aliquam neque. Quisque viverra, ante ac volutpat eleifend, ante tellus venenatis elit, nec venenatis tortor dolor id neque. Morbi eu maximus lectus, aliquam faucibus ipsum.
        </p>
    </div>
{% endblock %}
